/* General
===============================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    outline: none;

    font-family: "Roboto", sans-serif;
}

:root{
    --bg--color--primary: #0b1d28;
    --bg--color--second: #1a2b39;
    --text-color: #edfefe;
    --color-100:#d2fafb;
    --color-200:#abf4f6;
    --color-300:#71eaef;
    --color-400:#30d7e0;
    --color-500:#16c8d4;
    --color-600:#1496a6;
    --color-700:#177887;
    --color-800:#1c616e;
    --color-900:#1b525e;
    --color-950:#0c3540;
}

html{
    font-size: 62.5%; /*1rem -> 10 px*/
    overflow-x: hidden;
}

body{
    background-color: var(--bg--color--second);
    color: var(--text-color);
    font-size: 1.6rem;
}

section{
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}

/* utilities
===============================================*/

.heading{
    font-size: 4.5rem;
    text-align: center;
}

.heading-description{
    font-size: 1.8rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    background: linear-gradient(90deg, rgba(210, 250, 251) 0%, rgba(22, 200, 212) 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}


/* Header
===============================================*/

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    background: transparent;
    text-align: center;
    z-index: 100;
}

 .logo{
    font-size: 2.5rem;
    color: var(--color-500);
    font-weight: 700;
    transition-duration: .5s;
}


.logo:hover{
    transform: scale(1.05);
    color: var(--color-200);
}

.navbar{
    display: flex;
    gap: 3.5rem;
    position: relative;
}

.navbar a{
    color: var(--text-color);
    font-weight: 400;
    transition: .3s ease;
    border-bottom: .2rem solid transparent;
    text-transform: uppercase;
    position: relative; 
}

.navbar a:hover,
.navbar a.active{
    color: var(--color-400);
}

.navbar a:hover::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2.5rem; 
    height: .3rem; 
    gap: 3.5rem;
    background: linear-gradient(90deg, rgba(210, 250, 251) 0%, rgba(22, 200, 212) 100%);
    z-index: -1; 
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}


/*Home
================================*/

.home{
    align-items: center;
    display: flex;
    padding: 0 9%;
}